{% extends "base.html" %}
{% block title %}Nastavit pohlaví{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-10">
        <h2>Nastavit pohlaví u třídy "{{ class_name }}"</h2>
        <p class="lead">Zaškrtněte všechny dívky</p>
        <form role="form" method="POST">
            {% set i = 0 %}
            {%  for child in children  %}
                    {% if i%4 == 0  %}
                    <div class="input-lg">
                    {% endif %}
                    <label class="checkbox-inline">
                        <input type="checkbox" name="females" value="{{ child.id }}"{% if child.gender %} checked="checked"{% endif %}>
                        {{ child.name }}
                    </label>
                {% if i%4 == 3  %}
                </div>
                {% endif %}
                {% set i = i+1 %}
            {% endfor %}
            {% if children|length %4 != 0 %}
                </div>
            {% endif %}

            <button type="submit" class="btn btn-default">Nastavit pohlaví</button>
            <a href="{{ url_for('view_class',classid=classid) }}" class="btn">Přeskočit</a>
        </form>

    </div>
</div>
{% endblock %}