{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-offset-1">
            <div class="jumbotron">
                <h1>A co teď?</h1>
                <p><span class="glyphicon glyphicon-question-sign"></span>&nbsp;Pokud si vůbec nevíte rady, můžete se podívat do <a href="{{ url_for("help") }}">nápovědy</a>.</p>
                <p><span class="glyphicon glyphicon-list"></span>&nbsp;Pokud již máte nějaké třídy hotové, můžete se podívat na jejich <a href="{{ url_for("list") }}">seznam</a>.</p>
                <p><span class="glyphicon glyphicon-plus"></span>&nbsp;Pokud ještě ne, můžete novou <a href="{{ url_for("new") }}">vytvořit</a>.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}