{% if not filled %}{% set filled = None %}{%endif%}
{% extends "base.html" %}
{% block title %}{%if not filled%}Vyplněný dotazník žáka: {{ child.name }}{%else%}Přepis dotazníku pro {{ child.name }}{%endif%}{% endblock %}
{% block body %}
<div class="container">
<div class="row">
    <div class="col-md-12">
    <h2>{%if not filled%}Přepis dotazníku pro {{ child.name }}{%else%}Vyplněný dotazník žáka: {{ child.name }}{%endif%}</h2>
        {%if not filled%}
        <form role="form" class="form-horizontal" method="POST">
        {% else %}
        <form role="form" action="{{url_for('update_questionnaire',qid=filled.id)}}" class="form-horizontal" method="POST">
        {%endif%}
            <table class="table table-bordered">
                {% for line in questionnaire.friends %}
                <tr>
                    <td style="width:33%"><label>{{ line.label }}</label></td>
                    <td>
                        <select class="form-control" name="{{ line.formname }}">
                            <option value="0"{%if not filled%} selected="selected"{%endif%}>--- Nevyplněno ---</option>
                            {% for mate in classmates %}
                            <option value="{{ mate.id }}"{%if filled[line.formname] == mate.id%} selected="selected"{%endif%}>{{ mate.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2"><hr></td>
                </tr>
                {% for line in questionnaire.antipathy %}
                <tr>
                    <td><label>{{ line.label }}</label></td>
                    <td>
                        <select class="form-control" name="{{ line.formname }}">
                            <option value="0"{%if not filled%} selected="selected"{%endif%}>--- Nevyplněno ---</option>
                            {% for mate in classmates %}
                            <option value="{{ mate.id }}"{%if filled[line.formname] == mate.id%} selected="selected"{%endif%}>{{ mate.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                {% endfor %}
                {% if config["ALLOW_B3"] %}
                <tr>
                    <td colspan="2"><hr></td>
                </tr>
                <tr>
                    <td><label>Sám sebe hodnotím</label></td>
                    <td>
                        <select class="form-control" name="selfeval">
                            <option value="0"{%if not filled%} selected="selected"{%endif%}>--- Nevyplněno ---</option>
                            {% for line in questionnaire.selfeval %}
                            <option value="{{ line.value }}"{%if filled["selfeval"] == line.value%} selected="selected"{%endif%}>{{ line.text }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><hr></td>
                </tr>
                {% for line in questionnaire.yesnoquest %}
                <tr>
                    <td><label>{{ line.text }}</label></td>
                    <td>
                        <label class="radio-inline"><input type="radio" name="{{ line.formname }}" value="1"{%if filled[line.formname] == 1%} checked="checked"{%endif%}>ano</label>
                        <label class="radio-inline"><input type="radio" name="{{ line.formname }}" value="0"{%if filled[line.formname] == 0%} checked="checked"{%endif%}>ne</label>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2"><hr></td>
                </tr>
                {% for line in questionnaire.scale%}
                <tr>
                    <td><label>Vyber číslici, která nejlépe vyjadřuje míru tvých pocitů ve třídě:</label></td>
                    <td style="text-align: center;">
                        <label class="radio-inline">{{ line.mintext }}</label>
                        <label class="radio-inline"><input type="radio" name="{{ line.formname }}" value="1"{%if filled[line.formname] == 1%} checked="checked"{%endif%}>1</label>
                        <label class="radio-inline"><input type="radio" name="{{ line.formname }}" value="2"{%if filled[line.formname] == 2%} checked="checked"{%endif%}>2</label>
                        <label class="radio-inline"><input type="radio" name="{{ line.formname }}" value="3"{%if filled[line.formname] == 3%} checked="checked"{%endif%}>3</label>
                        <label class="radio-inline"><input type="radio" name="{{ line.formname }}" value="4"{%if filled[line.formname] == 4%} checked="checked"{%endif%}>4</label>
                        <label class="radio-inline"><input type="radio" name="{{ line.formname }}" value="5"{%if filled[line.formname] == 5%} checked="checked"{%endif%}>5</label>
                        <label class="radio-inline"><input type="radio" name="{{ line.formname }}" value="6"{%if filled[line.formname] == 6%} checked="checked"{%endif%}>6</label>
                        <label class="radio-inline"><input type="radio" name="{{ line.formname }}" value="7"{%if filled[line.formname] == 7%} checked="checked"{%endif%}>7</label>
                        <label class="radio-inline">{{ line.maxtext }}</label>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2"><hr></td>
                </tr>
                {% for line in questionnaire.traits %}
                <tr>
                    <td style="width:33%"><label>{{ line.text }}</label></td>
                    <td>
                        <select class="form-control" name="{{ line.formname }}">
                            <option value="0" {%if not filled%} selected="selected"{%endif%}>--- Nevyplněno ---</option>
                            {% for mate in classmates %}
                            <option value="{{ mate.id }}"{%if filled[line.formname] == mate.id%} selected="selected"{%endif%}>{{ mate.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                {% if loop.index == 5 %}
                <tr>
                    <td colspan="2"><hr></td>
                </tr>
                {% endif %}
                {% endfor %}
        {% endif %}
            </table>
        {% if not filled %}
            <input type="submit" class="btn btn-success btn-lg" value="Odeslat dotazník">
        {% else %}
            <input type="hidden" name="child" value="{{child.id}}">
            <input type="submit" class="btn btn-warning btn-lg" value="Upravit dotazník">
        {% endif %}

        </form>
        <p>&nbsp;</p>
    </div>
</div>
</div>
{% endblock %}