{% extends "base.html" %}
{% block title %}Přehled třídy {{ classdata.name }}{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <h2>Přehled třídy {{ classdata.name }}</h2>
          <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#overview" data-toggle="tab">Přehled</a></li>
                {% if not classdata.closed %}
                <li><a href="#pupils" data-toggle="tab">Žáci</a></li>
                <li><a href="#edit" data-toggle="tab">Upravit</a></li>
                <li><a href="#newpupils" data-toggle="tab">Přidat žáky</a></li>
                <li><a href="#gender" data-toggle="tab">Upravit pohlaví</a></li>
                {% endif %}
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="overview">
                    <div class="row">
                        <div class="col-md-6">
                        <h3>Informace</h3>
                            {% if classdata.closed %}
                                <p>Třída je uzavřena a již lze pracovat s výstupy.</p>
                                <p>Můžete si vytvořit sociogramy:</p>
                                <a href="{{ url_for("diagram",type="friend",classid=classdata.id) }}" class="btn btn-default btn-block">
                                    <span class="glyphicon glyphicon-heart"></span>&nbsp;Sociogram přátel</a>
                                <a href="{{ url_for("diagram",type="antipathy",classid=classdata.id) }}" class="btn btn-default btn-block">
                                    <span class="glyphicon glyphicon-flash"></span>&nbsp;Sociogram antipatií</a>
                                <p>&nbsp;</p>
                                <p>Stáhnout zpracovaná data v Excelu:</p>
                                <a href="{{ url_for("export_class", classid=classdata.id) }}" class="btn btn-default btn-block">
                                    <span class="glyphicon glyphicon-download-alt"></span>&nbsp;Stáhnout výstup</a>
                                <p class="help-block">Ve výstupu nejsou zahrnuty sociogramy, ty musíte stáhnout ručně.</p>
                                <p>&nbsp;</p>
                                <p>Otevřít třídu a provést úpravy.</p>
                                <button class="btn btn-block btn-default" onclick="confirmReopening();">
                                    <span class="glyphicon glyphicon-folder-open"></span>&nbsp;Otevřít třídu</span>
                                </button>
                                <p class="help-block">Otevřením třídy smažete všechny existující diagramy!</p>

                            {% elif completion == 100 %}
                                <p class="help-block">Nyní můžete třídu uzavřít. Tím stvrzujete, že třída má zadána všechna potřebná data. Po uzavření třídy vám budou dostupné výstupy jako sociogramy a kompletní Excel výstup</p>
                                <p><a href="{{ url_for("close_class", classid=classdata.id) }}" class="btn btn-warning">Uzavřít třídu</a></p>
                                <p class="help-block"><small>
                                    Třídu budete moci znovu otevřít a upravit. Tímto krokem ale přijdete o uložené sociogramy, protože jakékoliv úpravy zneplatní uložené sociogramy
                                </small></p>
                            {% else %}
                                <p>Vaše třída je nyní uložena v systému a čeká, až ji naplníte daty. Ty můžete vyplňovat buď postupně pomocí tlačítek na pravé straně obrazovky, nebo spustit průvodce přidáváním, který vám bude zobrazovat jeden dotazník po druhém</p>
                                <div class="alert alert-warning"><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;<strong>Pozor!</strong> Dotazníky musíte vyplnit i za žáky, kteří dotazník nevyplňovali! Jednoduše ho nechte prázdný.</div>
                                <p>Jakmile budou všechny dotazníky vyplněny, bude vám umožněno vytvářet sociogramy a data exportovat</p>
                            {% endif %}

                        </div>
                        <div class="col-md-6">
                            <h3>Přepsaných dotazníků: {{ '%d'|format(completion) }}%</h3>
                            <div class="progress progress-striped">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ completion }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ completion }}%">
                                    <span class="sr-only">{{ completion }}% Complete</span>
                                </div>
                            </div>
                                {% for child in children if not child.qid%}
                                    <p><a href="/input/{{ child.id }}" class="btn btn-block btn-primary{% if child.qid %} disabled{% endif %}">{% if child.qid %}<span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Již vyplněno{% else %}<span class="glyphicon glyphicon-plus"></span>&nbsp;Vyplnit další dotazník ({{ child.name }}){% endif %}</a></p>
                                {% endfor %}
                        </div>
                    </div>
                </div>
            {% if not classdata.closed %}
                <div class="tab-pane fade in" id="edit">
                    <form role="form" id="editClassForm" method="POST" action="{{ url_for("modify_class", classid=classdata.id) }}">
                    <div class="form-group">
                            <label for="name">Název</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Název třídy" value='{{ classdata.name }}'>
                        </div>
                        <div class="form-group">
                            <label for="name">Počet nezúčastněných žáků</label>
                            <input type="number" class="form-control" id="missing" name="missing" placeholder="0" value='{{ classdata.missing }}'>
                        </div>
                        <button type="submit" id="editClassButton" class="btn btn-primary">Upravit</button>
                    </form>
                </div>
                <div class="tab-pane fade" id="pupils">
                    <table class="table table-responsive">
                        {% for child in children %}
                        <tr>
                            <td style="width:10%">{{ child.classid }}</td>
                            <td>{{ child.name }}</td>
                            {% if child.qid %}
                            <td><a href="/view/questionnaire/{{ child.id }}" class="btn btn-info"><span class="glyphicon glyphicon-list"></span>&nbsp;Již vyplněno (zobrazit)</a></td>
                            {% else %}
                            <td><a href="/input/{{ child.id }}" class="btn btn-primary{% if child.qid %} disabled{% endif %}">{% if child.qid %}<span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Již vyplněno{% else %}<span class="glyphicon glyphicon-plus"></span>&nbsp;Vyplnit dotazník{% endif %}</a></td>
                            {% endif %}
                            <td>{% if child.qid %}<button class="btn btn-warning" onclick="confirmQuestDeletion({{ child.id }})"><span class="glyphicon glyphicon-floppy-remove"></span>&nbsp;Smazat dotazník</button>{% endif %}</td>
                            <td><button class="btn btn-danger" onclick="editChild({{child.id}},'{{child.name}}')"><span class="glyphicon glyphicon-edit"></span>&nbsp; Přejmenovat{%if completion == 0%}nebo smazat{%endif%} žáka</button></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="tab-pane fade" id="newpupils">
                    <form role="form" method="POST" action="{{ url_for("add_children", classid=classdata.id) }}">
                        <div class="form-group">
                            <label for="childlist">Přidat</label>
                            <textarea id="childlist" name="childlist" class="form-control" rows="15"></textarea>
                            <p class="help-block">Na každém řádku jedno jméno</p>
                        </div>
                        <input type="hidden" name="redirect" value="{{ url_for("view_class",classid=classdata.id) }}">
                        <button type="submit" class="btn btn-default">Vytvořit</button>
                    </form>
                </div>
                <div class="tab-pane fade" id="gender">
                {% if not empty %}
                    <p class="lead">Zaškrtněte všechny dívky</p>
                    <form role="form" method="POST" action="{{ url_for("manage_gender",classid=children.0.class) }}">
                    {% set i = 0 %}
                    {%  for child in children  %}
                        {% if i%4 == 0  %}
                        <div class="input-lg">
                        {% endif %}
                            <label class="checkbox-inline">
                                <input type="checkbox" name="females" value="{{ child.id }}"{% if child.gender %} checked="checked"{% endif %}>
                                {{ child.name }}
                            </label>
                        {% if i%4 == 3  %}
                        </div>
                        {% endif %}
                        {% set i = i+1 %}
                    {% endfor %}
                    {% if children|length %4 != 0 %}
                        </div>
                    {% endif %}
                        <input type="hidden" name="redirect" value="{{ url_for("view_class", classid=children.0.class) }}">
                        <button type="submit" class="btn btn-default">Nastavit pohlaví</button>
                    </form>
                {%else%}
                    <strong>Třída nemá žádné žáky</strong>
                {%endif%}
                </div>
          {% endif %}
            </div>
        </div><!-- /example -->
    </div>
</div>
<div class="modal fade" id="questDeletionModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Potvrďte smazání</h4>
      </div>
      <div class="modal-body">
        <p>Opravdu chcete smazat tento dotazník?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zrušit</button>
        <a href="#" id="questDeletionLink" type="button" class="btn btn-danger">Smazat!</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="reopeningModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Potvrďte znovuotevření třídy</h4>
      </div>
      <div class="modal-body">
        <p>Opravdu chcete třídu otevřít? Smažete tím všechny uložené diagramy!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zrušit</button>
        <a href="{{ url_for("reopen_class", classid=classdata.id) }}" type="button" class="btn btn-danger">Otevřít!</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="editModal">
  <div class="modal-dialog">
    <form role="form" action="/modify/child" method="POST" id="modifychildform">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Upravit jméno žáka: <span id="childname"></span></h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="newname">Zadejte nové jméno</label>
            <input type="text" class="form-control" id="newname" name="newname" placeholder="Nové jméno">
            <input type="hidden" name="classid" value="{{classdata.id}}">
          </div>
      </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zrušit</button>
        <button type="submit" class="btn btn-warning">Přejmenovat žáka</button>
        {% if completion == 0 %}<a href="#" id="deletionLink" type="button" onclick="return window.confirm('Opravdu chcete smazat tohoto žáka? Nenávratně s ním smažete i jeho dotazník!');" class="btn btn-danger">Smazat žáka!</a>{%endif%}
      </div>
    </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
    function confirmQuestDeletion(childid){
        $("#questDeletionLink").attr('href','/delete/questionnaire/'+childid);
        $("#questDeletionModal").modal();
    }

    function confirmReopening(){
        $("#reopeningModal").modal();
    }

    function editChild(childid, name){
        $("#childname").text(name);
        $("#newname").attr("value", name);
        $("#modifychildform").attr("action", "/modify/child/"+childid);
        $("#deletionLink").attr('href','/delete/child/'+childid);
        $("#editModal").modal();
    }
</script>
{% endblock %}